# Ignoring ALL files (but not Directories)
*
!*/

# Except the following files

!Dockerfile
!startup.sh
!Makefile
!.gitignore
!README.md

# Except the following extensions
!*.c
!*.h
!*.mk
!*.txt
!*.pdf
!*.so